<h1 class="center">Descriptif du Pokémon</h1>
<mat-card *ngIf="pokemon" class="detailPokemon">


  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="2">
      <div>
          <img matListAvatar class="artwork" src="assets/img/official-artwork/{{pokemon.id }}.png">

          <div class="center"><span>No: </span>{{pokemon.id | number:'3.0-0'}}</div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="1"
      [rowspan]="2" class="caract">
      <mat-list>
        <mat-list-item>
      <audio autoplay #playSong>
        <source src="./assets/audio/{{pokemon.id}}.mp3" type="audio/mp3"/>
      </audio>
      <div>{{pokemon.name}} </div>
      <mat-icon (click)="play(playSong)">play_circle_outline</mat-icon>
        </mat-list-item>
        <mat-list-item>
      <mat-chip-list class="types">
        <mat-chip *ngFor="let types of pokemon.types">{{types}}</mat-chip>
      </mat-chip-list>
        </mat-list-item>
        <mat-list-item>
      <div><span>Taille: </span>{{pokemon.height | number:'1.1-1'}} m</div>
        </mat-list-item>
        <mat-list-item>
      <div><span>Poids: </span>{{pokemon.weight | number:'1.1-1'}} Kg</div>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>


    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">

      <div>
        <div class="description">{{pokemon.description }}</div>
      </div>
      </mat-grid-tile>


  </mat-grid-list>

</mat-card>
