.detailPokemon {

  width:33%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.artwork{
  width:100%;
  height:99%;
}
.center{
  text-align: center;
}
.caract .mat-list-item {
  margin-top: 15px;
}
